<script 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvu_Ps7HdUL-KCcngd-Vo_0JW_b9pW6mk">
</script>

<html>
  <body>
    <h3>Mapa vuelos - Tarea 3 Rodrigo Orpis</h3>
    <div id="map"></div>
    <script type="text/javascript">
      var aereopuertos = [];
      var markers = [];
      var bounds;
      var map;
      var openwindow;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4
        });
        bounds = new google.maps.LatLngBounds();
      }

      function a() {
        //socket Airports
        var socket = io('wss://integracion-tarea-3.herokuapp.com', { path: '/flights' });
        socket.emit('AIRPORTS');
        socket.on('AIRPORTS', function (data) {
          var aereopuertos = [];
          var markers = [];
          console.log("print data AIRPORTS");
          console.log(data);
          console.log("----");
          Object.keys(data).forEach(function(key, index) {
            var aereopuerto = data[key];
            console.log(key);
            aereopuertos.push(aereopuerto);
          });
          //agregando al mapa
          for (var i = 0; i < aereopuertos.length; i++) {
            console.log("codigo:");
            console.log(aereopuertos[i].airport_code);
            b(aereopuertos[i]);
          }
        });
        //termina socket airports

        //socket flights
        socket.emit('FLIGHTS');
        socket.on('FLIGHTS', function (data) {
          var vuelos = [];
          data.forEach(function(element) {
            console.log(element);
            var destination = element["destination"]["airport_code"];
            var vuelo = {"airline": element["airline"], "origin": element["origin"], "destination": element["destination"], "plane": element["plane"], "seats": element["seats"]};
            vuelos.push(vuelo);
            
            var flightPlanCoordinates = [
              {lat: vuelo.origin.airport_position[0], lng: vuelo.origin.airport_position[1]},
              {lat: vuelo.destination.airport_position[0], lng: vuelo.destination.airport_position[1]}
            ];
            var flightPath = new google.maps.Polyline({
              path: flightPlanCoordinates,
              geodesic: true,
              strokeColor: '#5555FF',
              strokeOpacity: 1.0,
              strokeWeight: 4
            });

            flightPath.setMap(map);
          });
        });
        //termina socket flights
      }
      function b(a) {
        var marker = new google.maps.Marker({
              position: {lat: parseFloat(a.airport_position[0]), lng: parseFloat(a.airport_position[1])},
              title: a.airport_code,
              map: map
            });
          console.log(marker);
        marker.addListener('click', function(e) {
          console.log(e);
        });
        bounds.extend(marker.position);
        map.fitBounds(bounds);
        markers.push(marker);
        var info = a.name + '<div> </div>' + a.city + ', ' 
            + a.country + '<div> </div>' + "codigo: " + a.airport_code;

        var infowindow = new google.maps.InfoWindow({
          content: info
        });
        console.log(marker);
        marker.addListener('click', function(e) {
          if (openwindow) {
            openwindow.close();
          }
          infowindow.open(map, marker);
          openwindow = infowindow;
        });
      }
      google.maps.event.addDomListener(window, 'load', initMap);
      a();
    </script>
  </body>
</html>
